*{
    margin:0;
    padding:0;
    font-family: 'Open Sans', 'Poppins', sans-serif;
}

.logo{
    width: 20%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 35%;
    border: 2px solid white;
    border-radius: 100px;
    padding:3px;
    color:white;
}

.navbar{
    display: flex;
    align-items: center;
    justify-items: center;
    position:sticky;
    top:0;
}

.nav-list{
    width:60%;
    /* background-color: black; */
    display: flex;
    align-items: center;
}

.nav-list li{
    list-style: none;
    padding: 30px;
    font-size: 16px;
}

.nav-list li a:hover{
    color:gray;
}

.nav-list li a{
    text-decoration: none;
    color:white;
}

.rightNav{
    /* background-color: blue; */
    width:40%;
    text-align: right;
}

#search{
    padding:5px 10px;
    font-size: 15px;
    border: 2px solid white;
    border-radius: 15px;
    background: none;
    color: white;
}

.background{
    background: rgba(0,0,0,0.7) url('../assets/bg.jpg');
    background-size: cover;
    background-blend-mode: darken;
    /* height: 100vh;  */
    background-attachment: fixed;
}

.box-main{
    display:flex;
    justify-content: center;
    align-items: center;
    color:white;
    max-width: 80%;
    margin: auto;
    padding:40px 0px;
}

.box-rev{
    flex-direction: row-reverse;
}

.firstHalf{
    width:60%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding:50px;
}

.secondHalf{
    width:40% ;
    display:flex;
    justify-content: center;
}

.secondHalf img{
    height:300px;
    border: 3px solid white;
    border-radius:50px;
    display: block;
    margin:auto;
}

.text-big{
    font-size: 50px;
    padding:5px 0px;
}

.text-small{
    font-size: 20px;
    padding:5px 0px;
}

.btn{
    background:none;
    color:white;
    padding:4px 10px;
    cursor:pointer;
    border: 3px solid white;
    border-radius: 15px;
    margin: 5px 0;
    font-size:16px;
}

.btn-sm{
    margin:5px 10px;
}

.btn:hover{
    color:gray;
}

footer{
    text-align: center;
    color:white;
    background-color: rgba(0, 0, 0, 0.5);
    font-size:20px ;
}

.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right:5%;
    top:15px;
}

.line{
    width:30px;
    background-color: white;
    height:4px;
    margin: 5px 3px;
}

@media only screen and (max-width: 1280px){
    .box-main{
        flex-direction: column-reverse;
    }
}

@media only screen and (max-width: 760px){
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        padding-top: 3%;
        flex-direction: column;
        height:450px;
        transition: all 0.3s ease-out ;
    }

    .box-main{
        max-width: fit-content;
    }

    .rightNav{
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    #search{
        width:80%;
    }
    .burger{
        display: block;
        align-items: center;
    }
    .h-nav-resp{
        height:62px;
    }
    .v-class-resp{
        opacity: 0;
    }
    
}